{% load static %}
<link rel="stylesheet" href="{% static 'style/style.css' %}">
<footer class="mb-2 py-3 border-top border-dark">

    <div class="container">
 </div>
    <nav>
    <ul class="social">

        <li class="social_tag"><img class="social_img" src="{% static 'image/vk.png' %}" alt=""> </li>

</ul>

            <a href="{% url 'about' %}"> О нас </a>
            <a> href="{% url 'masters' %}"  </a>
            <a> href="{% url 'service' %}" </a>
            <a> href="{% url 'vacancy' %}" </a>
        </nav>

</div>
     <p class="h-55" >Copyright © 2020 Readng BV.</p>
    </div>
</footer>