{% load static %}
<link rel="stylesheet" href="{% static 'style/style.css' %}">
<footer class="mb-2 py-3 border-top border-dark">
 <div class="container">
    </div>
       <nav>
        <ul class="social">
          <li class="social_tag"><a href="https://vk.com/kuchevina_studio" ><img class="social_img" src="{% static 'image/vk.png' %}" alt="VK"></a> </li>
          <li class="social_tag"><a href="" ><img class="social_img" src="{% static 'image/logotip-instagramm.jpg' %}" alt="NST"></a> </li>
          <li class="social_tag"><a href="https://t.me/ksenya_kks" ><img class="social_img" src="{% static 'image/telegram.png' %}" alt="telegramm"></a> </li>
           <p class="footer-text"> Copyright © 2024 Readng BV.</p>
        </ul>
       </nav>
    </div>

 </div>
</footer>

