{% extends 'coolsite/base.html' %}
{% block content %}
{% load static %}


 <aside>
   <div class="container text-center">
      <div class="row ">
          <div class="col"><img class="about_img" src="{% static 'image/Gonchar30.jpg' %}">
</div>
          <div class="col">lorem</div>
          <div class="col">

          <form  action="{% url 'Feedback_view' %}" method="POST">
             {% csrf_token %}
             <div class="form-control">
                <label> <input  name="name" placeholder="Укажите ваше имя!" class="textbox" > Ваше имя</label>


                <label><input name="email" placeholder="Укажите ваш Email!" class="textbox" type="email" >Ваш email</label>


                <label><input name="phone" placeholder="Укажите ваш телефон!" class="textbox" type="phone">Ваш телефон</label>


                <label><input name="call_time" placeholder="Укажите время когда перезвонить" class="textbox" type="call_time">Время звока</label>


                <label><textarea rows="4" cols="40" name="description" placeholder="Ваше сообщение" class="message" ></textarea>Ваше сообщение</label>

             <div><input name="submit" class="" type="submit" value="Отправить"></div>
             </div>
          </form>

        </div>
      </div>
   </div>
  </aside>




{% endblock %}