.card_img {
    width: 245px;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}
.Link {
 position: relative;
    padding-left : 180px;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px;
    color : #fff
}
.social {
 position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;/*разрешен перенос на новую строку*/
}
.social_img {
height : 50px;
width : 50px;
}
header nav {
width : 100%;
padding : 10px 0 ;
display : flex;
justify-content : space-between ;
background : black
}
body {
padding : 0 ;
margin : 0 ;
}
.form-control {
  background : grey;
  height 5px;
  margin:10px ;
  width:500px;
  box-sizing:border-box;
  padding:15px;
  border-radius:5px;
  margin-bottom:15px;
}
.textbox{
  height:50px;
  width:300px;
  border-radius:3px;
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  padding:10px;
  margin-bottom:15px;
}
}
.message{
    background: pink;
    width:350px;
    height: 40px;
    box-sizing:border-box;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;

    padding:10px;
    margin-bottom:10px;
    overflow:hidden;
}
.button{
  height:50px;
  width:100px;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  background:pink;
  color:#FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size: 16pt;
  transition:background .4s;
  cursor:pointer;
}
/* Изменение фона кнопки при наведении */
.button:hover{
  background:#80b438;
}